@import "./../../bases/variables";
@import "./../../../library/admin/css/icons.css";
@import "./../../../library/admin/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css";
@import "./../../../library/admin/plugins/mscrollbar/jquery.mCustomScrollbar.css";
@import "./../../../library/admin/plugins/sidebar/sidebar.css";
@import "./../../../library/admin/plugins/select2/css/select2.min.css";
@import "./../../../library/admin/plugins/sumoselect/sumoselect.css";
@import "./../../../library/admin/css/sidemenu.css";
@import "./../../../library/admin/plugins/jqvmap/jqvmap.min.css";
@import "./../../../library/admin/css/style.css";
@import "~toastr/toastr";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "../../../library/growl-notification/light-theme.min.css";
@import '../components/growl_notifications';
@import "./../../../library/admin/css/style-dark.css";
@import "./../../../library/admin/css/skin-modes.css";
@import "./../../../library/admin/plugins/boxicons/css/boxicons.css";
@import '../components/sidebar';
@import '../components/header';
@import "./../../../library/admin/switcher/css/switcher.css";
@import "./../../../library/admin/switcher/demo.css";
@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

@import "../components/seo";
@import "../components/checkbox";
@import "../components/product";
@import "../components/calendar";
//assets/css/icons.css
.position-static-save {
    position: fixed;
    top: 90px;
    width: 100%;
}
.hide {
    display: none;
}
// custome
.form-group {
    position: relative;
    label.required {
        position: relative;
        &:after{
            content: " *";
            position: absolute;
            color: red;
        }
    }
    small.charcounter {
        position: absolute;
        top: 0;
        right: 0;
    }
}
