.select2-selection.select2-selection--single {
    box-sizing: border-box !important;
    padding: 8px !important;
    height: 38px !important;
    border: 1px solid #c4cdd5 !important;
    border-radius: 2px !important;

    .select2-selection__rendered {
        line-height: 20px !important;
    }
    .select2-selection__arrow {
        height: 38px !important;
    }
}
