.note-editor {
    .btn {
        background-color: unset;
        color: #212121 !important;
        border-color: rgba(0,0,0,.2);
        padding: .28rem .65rem;
        font-size: 13px;
    }
    .note-toolbar {
        background: hsla(0,0%,50.2%,.11);
    }
}
